html {
	scroll-behavior: smooth;
}

// Center all h1 elements
//h1 {
//	text-align: center;
//  }
  
/*.article-container h1 {
    text-align: center; color:yellow;
}*/



.docs-content h1.title {
    text-align: center;

}

.universal-wrapper h1 {
    text-align: center; color:whitesmoke; font-weight: bold;
}

.page-subtitle {
	text-align: center;
	position: relative;
	font-style: italic;
  }
  
  .page-subtitle::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ccc; /* Change the color or style of the ruler as needed */
	position: absolute;
	bottom: -10px; /* Adjust the positioning of the ruler below the subtitle */
	left: 0;
  }


.article-container h1 {
    text-align: center; color:whitesmoke;
	font-weight: bold;
}
/* _index.md H2 to be orange  or actually anywhere H2 to be orange*/
.article-style h2 {
	color: orange;
	font-weight: bold;
  }

.article-container h3 {
	color:#3db18b; font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 2px 6px;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s;
  font-size: 10px;
  margin: 2px;

  &:hover {
    background-color: #2980b9;
  }
}

.btn-large-right {
  display: inline-block;
  padding: 4px 8px;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s;
  font-size: 12px;
  margin: 2px;
  float: right; /* Align to the right */
}



// All the tags

$easy-color: #7FFF7F;
$medium-color: #FFFF99;
$hard-color: #FF7F7F;
$expert-color: #B19CD9;

$introductory-color: #7FFF7F;
$beginner-color: #7FFF7F;
$intermediate-color: #FFFF99;
$advanced-color: #FF7F7F;
$expert-color: #B19CD9;
$state-of-the-art-color: #C0C0C0;
$dazzling-color: linear-gradient(45deg, #FF6347, #FFD700);
$old-is-gold-color: linear-gradient(45deg, #FFD700, #FFA500);
$ideal-for-beginners-color: linear-gradient(45deg, #7FFF7F, #87CEEB);
$unique-color: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
$quirky-color: linear-gradient(to right, #FF8C00, #FFD700, #32CD32);

// Styles for individual tags
.introductory-tag {
  background-color: $introductory-color;
  color: #004400;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.beginner-tag {
  background-color: $beginner-color;
  color: #004400;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.intermediate-tag {
  background-color: $intermediate-color;
  color: #AA7700;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.advanced-tag {
  background-color: $advanced-color;
  color: #440000;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.expert-tag {
  background-color: $expert-color;
  color: #4B0082;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}



.dazzling-tag {
  background: $dazzling-color;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.old-is-gold-tag {
  background: $old-is-gold-color;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.ideal-for-beginners-tag {
  background: $ideal-for-beginners-color;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.unique-tag {
  background: $unique-color;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}

.quirky-tag {
  background: $quirky-color;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 16px;
  display: inline-block;
  font-size: 12px;
  margin: 4px;
}
