/* Center the heading in docs */
.docs-content h1.title {
    text-align: center;
}

.article-container h1 {
    text-align: center;
}

.universal-wrapper h1 {
    text-align: center;
}

h1 {
    text-align: center;
}
