RewriteEngine On

RewriteCond %{REQUEST_URI} ^/blog [NC]
RewriteRule ^(.*)$ https://thequantumquill.notion.sites/$1 [R=301,L]

# Redirect any URL containing /teaching to the new Notion site
RewriteCond %{REQUEST_URI} ^/teaching [NC]
RewriteRule ^(.*)$ https://rohankulkarni-teaching.notion.site [R=301,L]